@font-face {
  font-family: 'HurmeGeometric';
  src: url('./assets/HurmeGeometricSans2/HurmeGeometricSans2Black.otf');
  font-weight: 900;
}

@font-face {
  font-family: 'HurmeGeometric';
  src: url('./assets/HurmeGeometricSans2/HurmeGeometricSans2Bold.otf');
  font-weight: 800;
}

@font-face {
  font-family: 'HurmeGeometric';
  src: url('./assets/HurmeGeometricSans2/HurmeGeometricSans2.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'HurmeGeometric';
  src: url('./assets/HurmeGeometricSans2/HurmeGeometricSans2Light.otf');
  font-weight: 200;
}

.light {
  --primary-background: white;
  --text-color: black;
  --secondary-background: #eeecec;
  --accent-color: #00ccff;
}

.dark {
  --primary-background: #383838;
  --text-color: white;
  --secondary-background: #515151;
  --accent-color: #00B8E0;
}

body {
  overflow-x: hidden;
  margin: 0;
}

#App {
  background-color: var(--secondary-background);
}

* {
  font-family: "HurmeGeometric";
  transition: background-color 0.2s, color 0.2s;
  color: var(--text-color);
}

/* hero parallax styling */
/* text in hero */
.headerText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  z-index: 20;
  
  font-size: 160px;
  font-weight: 900;
  color: white;
  mix-blend-mode: difference;
}

.clouds {
  transform-origin: bottom;
  height: 58vh !important;
  filter: grayscale(100%);
  animation: cloudScroll 150s linear infinite;
}
@keyframes cloudScroll{
  0%{background-position: 0 0;}
  100%{background-position: 800px 0;}
}

.beach {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  min-height: 55%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
}

.about {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}